@font-face {
    font-family: 'Raleway Black';
    src: url('../../fonts/Raleway-Black.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Light';
    src: url('../../fonts/Raleway-Light.otf');
    font-weight: normal;
    font-style: normal;
}

body {
	box-sizing: border-box;
	color: black;
	font-size: 1em;
	background-color: lightgrey;
	font-family: 'Raleway Light';
	margin: 0;
}

h1, h2, h3 {
	font-family: 'Raleway Black';
}

a {
	text-decoration: none;
	color : orange;
	transition: color linear 0.2s;
}

a:hover {
	color: maroon;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

#header, #comm {
	width: 100%;
	text-align: center;
}

#header h1 {
	text-transform: uppercase;
}

.news, form {
	background-color: white;
    margin: 2% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

form div {
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#titreAddComm {
	width: 100%;
	text-align: center;
}

.news h2 {
	font-size: 3em;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}

.newsList:nth-child(odd) {
	background-color: #3c3c3c;
	color: white;
}

.newsList:nth-child(even) {
	background-color: white;
	color: black;
}

.news h3 {
	color: grey;
	font-size: 2.4em;
	font-style: italic;
	width: 100%;
	text-align: center;
}

.news p {
	padding: 2% 10%;
}

.news em:last-child {
	padding: 5% 0;
}

.img1 {
	transform-origin: 0 50%;
	width: 100%;
	margin-top: 2%;
	cursor: pointer;
}

.img2 {
	transform-origin: 0 50%;
	width: 100%;
	cursor: pointer;
}

#retourHaut {
    position: fixed;
    transform: scale(0.75);
    z-index: 12;
    bottom: 10%;
    right: -1%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 7px;
    opacity: 0;
    border-radius: 100px;
    border: 1px solid white;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    background: linear-gradient(grey, white);
}

/*Retour haut btn*/

#retourHaut span svg path {
	fill: white;
	transition: fill ease-in-out 0.2s;
}

#retourHaut:hover {
  border: 1px solid #EF5000;
}

#retourHaut:hover span svg path {
	fill: #ef5000;
}

/*Fin Retour haut btn*/